.autocomplete {
  input {
    width: 100%;
    background: rgba(255, 0, 0, 0.2);
    border: 0;
  }

  .list {
    background: white;

    .item {
      height: 50px;
      cursor: pointer;
      border-bottom: 1px solid #ECECEC;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 0 10px;
      background: white;
      transition: all linear 200ms;

      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        background: #EBF3FA;
      }

      img {
        $size: 36px;

        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: #EEE;
        margin-right: 10px;
      }

      .check-icon {
        margin-left: auto;
        width: 24px;
        height: 24px;
        background: url(/assets/images/collection-check.svg) center center no-repeat;
      }
    }

    .active {
      img, span {
        opacity: 0.3;
      }

      &:hover {
        background: none;
      }
    }
  }
}
