$height: 25px;

.autocomplete {
  .tag, input {
    height: $height;
    line-height: $height;
    font-size: 15px;
    margin-bottom: 8px;
  }

  display: inline-block;

  .tag {
    display: inherit;
    background-color: #F0F0F0;

    box-sizing: border-box;
    padding: 0 10px;
    margin-right: 10px;

    border-radius: 3px;

    .close {
      position: relative;
      top: 3px;
      left: 4px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(/assets/images/x.svg) center center no-repeat;
      opacity: 1;
      transition: opacity linear 200ms;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .selected {
    background-color: #D4D4D4;
  }

  input {
    background: rgba(255, 0, 0, 0.2);
    border: 0;
  }
}
