.share-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;

  .user-avatar, .user-information, user-permission {
    display: inline-block;;
  }

  .user-avatar {
    width: 36px;
    height: 36px;

    img {
      width: inherit;
      height: inherit;
      background-color: #E3E3E3;
      border-radius: 50%;
    }
  }

  .user-information {
    margin-left: 10px;

    .name {
      font-family: Avenir-Medium;
    }

    .email {
      color: #BAB7BF;
      font-size: 13px;
    }
  }

  .user-permission {
    margin-left: auto;
  }

  .close-icon {
    margin-right: -6px;
    width: 28px;
    height: 28px;
    background: url(/assets/images/x.svg) center center no-repeat;
  }
}
