.menu {
  width: 180px;

  .headline {
    span {
      font-family: Avenir-Medium;
      font-size: 16px;
      color: #414141;
      letter-spacing: 0.4px;
      line-height: 22px;
      padding: 0 8px;
    }

    hr {
      border: none;
      height: 0;
      border-bottom: 1px solid #F0F0F0;
    }
  }

  > a {
    display: block;
    padding: 0 8px;

    font-size: 14px;
    color: #AFAFAF;
    line-height: 19px;
    margin-top: 6px;

    &:hover {
      color: #858585;
    }
  }
}
