.change-collection-modal {
  position: absolute;
  top: -10px;
  width: 250px;
  padding: 0;

  .search-container {
    position: relative;
    margin: 10px;

    .search-input {
      background: #FCFCFC;
      border: 1px solid #ECECEC;
      border-radius: 13px;
      font-family: Avenir-Light;
      font-size: 14px;
      color: #B4B4B4;
      line-height: 21px;
      text-indent: 10px;
      color: #4E4E4E;
      padding: 2px;
      width: 100%;
    }

    .close-icon {
      position: absolute;
      cursor: pointer;

      right: 3px;
      top: 0px;

      width: 27px;
      height: 27px;
      background: url(/assets/images/x.svg) center center no-repeat;
    }
  }

  .search-results {
    max-height: 300px;
    overflow-y: scroll;

    .item {
      padding: 0 10px;
      display: flex;
      align-items: center;

      font-family: Avenir-Book;
      font-size: 16px;
      color: #414141;
      position: relative;
      cursor: pointer;
      height: 40px;
      border-bottom: 1px solid #F1F1F1;
      transition: background-color linear 200ms;

      &:last-child {
        border-bottom: none;
      }

      span {
        width: 200px;
        padding-left: 10px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }

      &:hover {
        background-color: #ebf3fa
      }

      &.current {
        font-family: Avenir-Medium;
        font-weight: bold;
      }

      .collection-check-icon {
        position: absolute;
        right: 13px;
        top: 8px;
        width: 24px;
        height: 24px;
        background: url(/assets/images/collection-check.svg) center center no-repeat;
      }
    }
  }
}
