.bundle-view-header-wrapper {
  height: 65px;
  border-bottom: 1px solid #ECECEC;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  transition: all linear 100ms;

  &:hover {
    opacity: 0.6;
  }
}

.collection-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/assets/images/collections-gray.svg) no-repeat;
}

.down-arrow-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/assets/images/down-arrow.svg) no-repeat center center;
}

.align-right {
  margin-left: auto;
  display: flex;
}


