.list-item {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  cursor: pointer;
  transition: background 75ms linear;

  .content {
    display: block;
    padding: 15px 20px;
  }

  h1, h2, input {
    margin: 0;
    padding: 0;
  }

  h1, input {
    font-family: Avenir-Medium;
    font-weight: normal;
    font-size: 16px;
    color: #414141;
    line-height: 22px;
    margin-bottom: 5px;
  }

  h2 {
    font-family: Avenir-Light;
    font-weight: normal;
    font-size: 14px;
    color: #A6A6A6;
    line-height: 19px;
  }

  &:hover {
    background: #EBF3FA;
  }

  input {
    width: 240px;
    border: none;
    background: none;
  }

  .collection-name {
    margin-left: 5px;
    border-bottom: 1px solid #ececec;
  }
}

.list-item-active {
  background: #EBF3FA;
}
