.share-resource-modal {
  width: 435px;

  right: -10px;
  top: -10px;

  padding: 0;
}

.invite-users-container {
  .full-row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
  }

  .invite {
    padding: 0;
  }

  .members {
    padding: 10px 15px;
    background-color: rgba(244, 244, 244, 0.5);
    line-height: 30px;

    select {
      margin-left: 10px;
    }

    button {
      margin-left: auto;
    }
  }
}

.row-heading {
  font-family: Avenir-Medium;
  font-size: 18px;
  color: #000000;
  padding: 15px;
  padding-bottom: 0px;
}
