$icon-size: 28px;
$blue: #1581E2;

.invite-users-container {
  .full-row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #E3E3E3;
  }

  .invite {
    padding: 5px 15px;
  }

  .members {
    padding: 10px 15px;
    background-color: rgba(244, 244, 244, 0.5);
    line-height: 30px;

    select {
      margin-left: 10px;
    }

    button {
      margin-left: auto;
    }
  }

  .shareable-url {
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 15px;

    .clickable {
      display: inherit;
      align-items: inherit;
      cursor: pointer;

      .url-icon {
        margin-right: 7px;
        width: $icon-size;
        height: $icon-size;
        background-size: $icon-size;
        background-image: url('/assets/images/link.svg');
      }
    }
  }
}
