.invite-users-container {
  .full-row {
    display: flex;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #E3E3E3;
  }

  .invite-user-input {
    width: 100%;
    padding: 0;
    margin-left: 10px;
    border: 0px;
    font-size: 16px;
  }
}
