$icon-size: 18px;

.list-toolbar {
  height: $height;
  position: absolute;
  top: 15px;
  right: @top;

  > div {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .icon {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    background-size: $icon-size;
    opacity: 0.5;
    transition: opacity linear 200ms;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  @each $icon in (share, delete, favorite, favorite-full, close) {
    .icon-toolbar-$(icon) {
      background-image: url('/assets/images/toolbar-$(icon).svg');
    }
  }

  .relative-toolbar {
    position: relative;
    display: inline-block;

    .share-resource-modal {
      position: fixed;
    }
  }
}
