.share-bundle-wrapper {
  display: flex;
  position: relative;
  margin: auto;

  .share-clicker {
    display: flex;
    align-items: center;

    .share-more-users {
      cursor: pointer;
      margin-right: 14px;
      font-size: 14px;
      color: #A6A6A6;
    }

    ul.share-user-images {
      margin-right: 15px;
      height: 32px;

      &, li {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      li {
        cursor: pointer;
        margin-right: -8px;
        float: right;

        &:first-child {
          margin-right: 8px;
        }
      }

      img {
        background: white;
        border-radius: 16px;
        width: 32px;
        height: 32px;
        background-size: 32px;
        box-shadow: 0 0 0 1px #DDD, 0 0 0 2px white;
      }
    }
  }


}
