.bundle-select-dropdown {
  display: flex;
  position: relative;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80px;
    border: none;
    background: none;
    font-family: Avenir-Medium;
    font-size: 14px;
    color: #ADB7BF;
    cursor: pointer;

    option {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: red;
    }
  }

  .down-arrow-icon {
    position: absolute;
    z-index: -1;
    right: 1px;
    top: -3px;
    width: 28px;
    height: 28px;
    background: url(/assets/images/down-arrow.svg) center center no-repeat;
    cursor: pointer;
    user-select: none;
  }
}
