$icon-size: 28px;
$blue: #1581E2;

.shareable-url {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;

  .url-icon {
    width: 28px;
    height: 28px;
    background-size: 28px;
    background-image: url(/assets/images/url-share.svg);
    display: inline-block;
    margin-right: 6px;
    border-radius: 50%;
  }

  .dimmed-text {
    font-family: Avenir-Roman;
    font-size: 14px;
    color: #BBBBBB;
  }

  .copy-link {
    cursor: pointer;
    width: 150px;
    display: flex;
    align-items: center;

    .url-icon:hover {
      opacity: 0.7;
    }

    .url-icon.active {
      background-image: url(/assets/images/url-share-active.svg) !important;
    }
  }

  .permissions {
    display: flex;
    align-items: center;
  }
}
