$icon-size: 28px;
$blue: #1581E2;

.shareable-url {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;

  .url-icon {
    width: 22px;
    height: 22px;
    background-size: 22px;
    background-image: url(/assets/images/link.svg);
    display: inline-block;
    margin-bottom: -7px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #EAEAEA;
  }

  .dimmed-text {
    font-family: Avenir-Roman;
    font-size: 14px;
    color: #BBBBBB;
  }

  .copy-link {
    cursor: pointer;

    .url-icon:hover {
      opacity: 0.7;
    }
  }

  .permissions {
    display: flex;
    align-items: center;

    .close-icon {
      margin-right: -6px;
      width: 27px;
      height: 27px;
      background: url(/assets/images/x.svg) center center no-repeat;
      cursor: pointer;
      user-select: none;
      opacity: 1;
      transition: opacity linear 200ms;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
