$height: 90px;
$imageWidth: 130px;

.link-component {
  position: relative;
  height: $height;
  background: hsla(208, 3%, 99%, 1);
  box-sizing: content-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  margin-bottom: 20px;
  transition: all 200ms linear;

  &:hover {
    background: hsla(208, 35%, 99%, 1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.18);

    .toolbar, .link-drag-handler {
      opacity: 1;
    }
  }

  &.completed {
    opacity: 0.3;
  }

  .link-drag-handler {
    position: absolute;
    right: -25px;
    top: 0;

    width: 25px;
    height: 90px;

    padding-top: 8px;
    text-align: right;

    cursor: grabbing;
    opacity: 0;
  }

  .link-thumbnail {
    width: $imageWidth;
    height: $height;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center center, center center;
    background-size: cover, auto;
    background-color: #ECECEC;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .link-content {
    margin-left: calc($imageWidth + 7px);
    padding: 8px 10px;

    .link-title,
    .link-description {
      width: 100%;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .link-title {
      color: #333;
      padding-right: 55px;
      font-family: Avenir-Medium;
      font-size: 16px;
      height: 24px;
      line-height: 24px;
    }

    .link-description {
      font-size: 14px;
      height: 20px;
      line-height: 20px;
    }

    .link-metadata {
      position: absolute;
      bottom: 10px;
      font-size: 13px;
    }

    .link-creator {
      position: absolute;
      right: 20px;
      bottom: 10px;
      font-size: 13px;

      img {
        position: relative;
        top: 5px;
        margin-right: 5px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
      }
    }

    .toolbar {
      opacity: 0;
      position: absolute;
      height: 27px;
      top: 5px;
      right: 10px;
      user-select: none;
      transition: all 200ms linear;

      div {
        transition: all 200ms linear;
        display: inline-block;
        width: 27px;
        height: 27px;
        cursor: pointer;

        &:hover {
          opacity: 0.5 !important;
        }
      }
    }

    .link-remove {
      background: url(/assets/images/x.svg) center center no-repeat;
    }

    .link-complete {
      background: url(/assets/images/checkmark.svg) center center no-repeat;
    }
  }
}
