/* fix overscroll */
html { overflow: hidden; }
body { overflow: scroll; }

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Avenir-Book;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: Avenir-Book;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.root-container {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

input,
textarea {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #777;
}

.u-truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.round-button {
  display: inline-block;
  height: 30px;
  padding: 0 20px;
  margin-left: 15px;
  border: 1px solid #6C90F3;
  color: #6C90F3;
  background-color: white;
  font-size: 15px;
  line-height: 25px;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  transition: all linear 200ms;

  &:hover {
    color: #FFF;
    background-color: #6C90F3;
  }
}
