/* fix overscroll */
html { overflow: hidden; }
body { overflow: scroll; }

html,
body,
.viewport
{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-none {
  flex: none;
}

.flex-1 {
  flex: 1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: Avenir-Book;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

input,
textarea {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #777;
}

.u-truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

$color: #6C90F3;

.main-button {
  padding: 0 10px;
  height: 26px;
  border: 1px solid $color;
  color: $color;
  background-color: transparent;
  font-family: Avenir-Medium;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  transition: all 200ms linear;

  &:hover {
    color: white;
    background-color: $color;
  }
}
