.search-results-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;

  .title {
    font-family: Avenir-Light;
    font-size: 18px;
    color: #A3A3A3;
    line-height: 18px;
    padding: 0 20px;
    margin-bottom: 30px;
  }

  .search-note {
    align-self: center;
    font-size: 17px;
    color: #A0A0A0;
  }

  .search-results {
    width: 100%;
  }

  .name {
    padding: 0 20px;
    margin: 20px 0;
  }
}
