.change-collection-wrapper {
  .change-collection-clicker {
    cursor: pointer;
    transition: all linear 100ms;

    span {
      vertical-align: middle;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  display: inline-block;
  position: relative;
  margin-right: 50px;

  .collection-name {
    margin-left: 10px;
    font-family: Avenir-Light;
    font-size: 16px;
    color: #000000;
  }
}
