$height: 80px;
$imageWidth: 110px;

.link-component {
  position: relative;
  height: $height;
  background: hsla(208, 3%, 99%, 1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04), inset 0 0 0 1px rgba(0, 0, 0, 0.09);
  margin-bottom: 20px;
  transition: all 200ms linear;

  &:hover {
    background: hsla(208, 35%, 99%, 1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(0, 0, 0, 0.18);
  }

  .link-thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover, auto;
    background-position: center center, center center;

    width: $imageWidth;
    height: $height;
    background-color: #ECECEC;
  }

  .link-content {
    margin-left: 110px;
    padding: 10px 13px;

    .link-title,
    .link-description {
      display: block;
    }

    .link-title {
      color: #333;
      padding-right: 20px;
      font-family: Avenir-Medium !important;
      font-size: 15px !important;
    }

    .link-description {
      font-size: 13px !important;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
