$color: #6C90F3;

.link-preview-container {
  margin-bottom: 30px;

  .add-link-button {
    box-sizing: content-box;
    padding: 2px 10px;
    height: 25px;
    background-color: white;
    border: 1px solid $color;
    color: $color;
    font-family: Avenir-Medium;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 200ms linear;

    &:hover {
      color: white;
      background-color: $color;
    }
  }
}
